<div class="parent">
  <div class="content">
  <h2>Welcome to Is the Bridge Up?</h2>
  Select a bridge to see if it is currently raised,<br />
    and directionsto get across the river <br />
    while avoiding it.
  </div>
</div>