<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><%= link_to 'IS THE BRIDGE UP?', root_path, class: 'navbar-brand' %> <h1 class="navbar-city align-text-bottom">Portland</h1>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
          <% @response.sort_by { |name|  name['name'] }.each do |bridge| %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to bridge['name'].upcase, name_path(bridge['name']) %>
                </li>
            </ul>
          <% end %>
        </div>
    </div>
</div>